<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://wwww.w3.org/TR/xhtml11/.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::taghead"></head>

<body>
	<nav th:replace="fragments/navbar::tagnavbar"></nav>

	<div class="row d-flex justify-content-center">
		<div class="col-md-4">
		 <!-- Partie info Banque -->
			<div class="card border border-dark" style="margin-top : 20px">
				<div class="card-header bg-info fw-bold fs-3">
					<i class="bi bi-file-earmark-person"></i>Banque :
				</div>
				<h5 class="card-title" style="background: blue"></h5>
				<div class="card-body ">
					<div>
						<label class="fw-bold">Identifiant : </label> <label
							th:text="${banque.id}"></label>
					</div>
					<div>
						<label class="fw-bold">Nom : </label> <label
							th:text="${banque.nom}"></label>
					</div>
					<div class="card-footer bg-transparent d-flex justify-content-end">
						<a class="btn btn-info" th:href="@{/banque/update/{id}(id=${banque.id})}">Update</a>
						<a class="btn btn-danger" th:href="@{/banque/delete/{id}(id=${banque.id})}">Delete</a>
					</div>
				</div>
			</div>		</div>
		<!-- Partie info operations -->
		<div class="col-md-6">
			<div class="card border border-dark text-body mb-3" style="margin-top : 20px">
				<div class="card-header bg-info fw-bold fs-3">Clients : </div>
				<div class="card-body">
					<table class="table table-bordered table-striped table-light">
						<thead>
							<tr>
								<th>#</th>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Date de naissance</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="client : ${clients}">
								<td th:text="${client.id}"></td>
								<td th:text="${client.nom}"></td>
								<td th:text="${client.prenom}"></td>
								<td th:text="${#dates.format(client.dateNaissance, 'dd/MM/yyyy')}"></td>								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer::tagfooter"></footer>
</body>
</html>